="Dear #{@donor_name},"
=""
="Thanks again for making a matching donation to support #{@saver_name} via SaveTogether.  Below you will find a recent update on your saver's progress:"
=""
="-------------------"
=@message
="-------------------"
=""
="To check in with this saver's profile and/or make another donation, please visit #{@url}."
=""
="If at any time you want to unsubscribe from these periodic saver updates, please login to SaveTogether, access your Profile and uncheck the Receive Saver Update checkbox: #{@opt_out_url}."
=""
="Thanks,"
="The SaveTogether Team"