="SaveTogether saver, #{@saver_name}, would like to share the following update with you."
=""
="-------------------"
=@message
="-------------------"
=""
="To check in with this saver's profile and/or make another donation, please visit #{@url}."
=""
="To opt out of receiving future updates from savers you have donated to, click here and log in to update your profile: #{@opt_out_url}."
=""
="Thanks,"
="The SaveTogether Team"